<html>
  <head>
    <meta charset='utf-8'>
    <title>Scrabble Scorer!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Scrabble Word Score Calculator</h1>
    <form action="/score" method="post">
      <label for="word">Enter your word here!</label>
      <input id="word" name="word" type="text">
      <button type="submit">Submit!</button>
    </form>
  </body>
</html>