<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <title>Your Score!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
  <h1>Your scrabble word "@Model.Input"and your score is @Model.WordScore!</h1>
</body>
</html>